<!DOCTYPE html>
<html>

    <head>
        <title>Cyberland</title>
        <meta charset="utf-8">
        <meta name="description" content="A Cyberland server.">
    </head>

    <body>
        <h1 id="cyberland-server">Cyberland server</h1>
        <p>This is a Cyberland server. You can find more info on GitHub <a href="https://github.com/Arkaeriit/Cyberland-server">here</a>.</p>
        <h2 id="quick-guide">Quick guide</h2>
        <p>In this server, there is multiple boards you can read or post to. You can find a list of the boards, and more information about them <a href="config">here</a>.</p>
        <p>To read what is on a board, use a GET request on the URL of the board. You can do this in your <a href="{{ example_board }}">browser</a>.</p>
        <p>Posting messages in a bit more tricky. Please, refer to the GitHub link.</p>
    </body>
</html>

